
@font-face {
        font-family: 'BPreplay';
        src: url('../assets/fonts/BPreplay/BPreplayBold-webfont.eot');
        src: url('../assets/fonts/BPreplay/BPreplayBold-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../assets/fonts/BPreplay/BPreplayBold-webfont.woff') format('woff');
        font-weight: strong;
        font-style: normal;
}

@font-face {
        font-family: 'BPreplay';
        src: url('../assets/fonts/BPreplay/BPreplay-webfont.eot');
        src: url('../assets/fonts/BPreplay/BPreplay-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../assets/fonts/BPreplay/BPreplay-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
        font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSans/OpenSans-Bold-webfont.eot');
        src: url('../assets/fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../assets/fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff');
        font-weight: strong;
        font-style: normal;

}

@font-face {
        font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSans/OpenSans-Italic-webfont.eot');
        src: url('../assets/fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../assets/fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: italic;

}

@font-face {
        font-family: 'OpenSans';
        src: url('../assets/fonts/OpenSans/OpenSans-Regular-webfont.eot');
        src: url('../assets/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../assets/fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}
