<meta charset="utf-8">

<!-- START SEO Meta Tags -->
<title>{% if page.meta.title %}{{ page.meta.title }}{% elsif page.title %}{{ page.title }}{% endif %}</title>
<meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}{{ page.excerpt }}{% endif %}" />
<meta name="keywords" content="{% if page.meta.keywords %}{{ page.meta.keywords }}{% endif %}" />
<meta name="robots" content="{% if page.meta.robots %}{{ page.meta.robots }}{% else %}INDEX, FOLLOW{% endif %}" />
<!-- END SEO Meta Tags -->

{% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url={{ site.baseurl }}/contact">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.url }}/rss.xml" />

<!-- START Open Graph Tags -->
<meta property="og:site_name" content="Vaibhav Kanwal's Blog"/>
<meta property="og:type" content="blog"/>

{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt }}"/></p>
{% endif %}

{% if page.fullimage %}
	<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.fullimage.src }}"/>
{% endif %}

{% if page.title %}
	<meta property="og:title" content="{{ page.title }}"/>
{% endif %}
<!-- END Open Graph Tags -->

<meta name="google-site-verification" content="qXn5_jcobpxXzaEu3CA81WRTeK-Z7kdQbhM5J1GvhFM" />

{% include common/analytics.html %}