<div class="topWrapper">

	<nav class="menu">
		<div class="wrapper">
			<a class="menu__item" href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
			<a class="menu__item" href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
			<a class="menu__item" href="{{ site.url }}{{ site.baseurl }}/work">Work</a></li>
		</div>
	</nav>

	<div class="header">
		<div class="wrapper">
			<div class="header__intro">
				<div class="header__logo">
					<img class="profile_image" src="/assets/UserImage.jpg" alt="Karanvir Sawhney">
				</div>

				<div class="header__headings">
					<h1><a href="{{ site.url }}{{ site.baseurl }}">  Karanvir Sawhney</a></h1>
					<h2 class="tagline">Full Stack Developer <span class="amp">&amp;</span> Mobile App developer</h2>
				</div>
			</div>
		</div>
	</div>

</div> <!-- [/topWrapper] -->